extend /_template/_default
include /_partial/_variable
append variables
  - var pageTitle = siteName + ' - ' + siteDescription
  - var pageDescription = siteDescription
  - var isHomePage = true

append css
  link(rel="stylesheet" href="/common/components/slider/css/style.css")

block content
  main
    p #{siteDescription}
